<% require 'date' %>
<% sensors.each do |sensor|%>
  <div class="col-md-3">
  <% if(sensor[1]['type'] > 0) %>
    <div class="panel panel-danger">
  <% else %>
    <div class="panel panel-info">
  <% end %>
      <div class="panel-heading">
        <h1 class="panel-title"><%=sensor[0]%></h1>
      </div>
      <div class="panel-body">
        <% sensor[1]['Readings'].each do |reading| %>
          <strong>
          <% if reading[1] == 1 %>
            Opened
          <% else %>
            Closed
          <% end %>
          </strong>
          at <%=Time.at(reading[0]/1000).ctime%>
          <br>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
